body {
  padding: 0;
  margin: 0;
  font-family: 'texgyreheroscn regular', -apple-system, BlinkMacSystemFont,
    'avenir next', avenir,
    helvetica, 'helvetica neue',
    ubuntu,
    roboto, noto,
    'segoe ui', arial,
    sans-serif;
    background-color: #EEEEEE
}

@font-face {
  font-family: 'texgyreheroscn bold';
  src: url('fonts/texgyreheroscn-bold.woff2') format('woff2');

}

@font-face {
  font-family: 'texgyreheroscn regular';
  src: url('fonts/texgyreheroscn-regular.woff2') format('woff2');

}


p {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  font-family: serif;
  margin: 0;
}


h1 {
  font-size: 18px;
  font-weight: normal;
  font-family: serif;
  margin: 0;
}


.bottom-pattern {
  position: fixed;
  top: 0px;
  width: 200%;
  height: 23px;
  background-image: url("images/yellow-pattern@2x.png");
}

.illustration-1 {
  width: 200px;
  mix-blend-mode: darken;
}