body{
  padding:0;
  margin:0;
  font-family: 'texgyreheroscn regular', -apple-system, BlinkMacSystemFont,
             'avenir next', avenir,
             helvetica, 'helvetica neue',
             ubuntu,
             roboto, noto,
             'segoe ui', arial,
             sans-serif;
}

@font-face {
  font-family: 'texgyreheroscn bold';
  src:  url('fonts/texgyreheroscn-bold.woff2') format('woff2');

}

@font-face {
  font-family: 'texgyreheroscn regular';
  src:  url('fonts/texgyreheroscn-regular.woff2') format('woff2');

}

a {
  /* cursor: ne-resize; */
  text-decoration: none;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  font-family: 'texgyreheroscn regular';
  margin: 0;
}


h1 {
  font-size: 16px;
  font-family: 'texgyreheroscn bold';
  margin: 0;
}



.lh-copy {
  line-height:1.4;
}


.type-condensed {
    font-family: 'texgyreheroscn regular';
}



.soundcloud-frame {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}


.mw6  {
  max-width: 20rem;
}
