body {
  padding: 0;
  margin: 0;
  font-family: 'texgyreheroscn regular', -apple-system, BlinkMacSystemFont,
    'avenir next', avenir,
    helvetica, 'helvetica neue',
    ubuntu,
    roboto, noto,
    'segoe ui', arial,
    sans-serif;
    background-color: #EEEEEE
}

@font-face {
  font-family: 'Baskervville Regular';
  src: url('fonts/Baskervville-Regular.woff2') format('woff2');

}

@font-face {
  font-family: 'Baskervville Italic';
  src: url('fonts/Baskervville-Italic.woff2') format('woff2');

}


p {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  font-family: Baskervville Regular, garamond,
    serif;
  margin: 0;
}


h1 {
  font-size: 18px;
  font-weight: normal;
  font-family: Baskervville Italic, garamond,
    serif;
  margin: 0;
}


.bottom-pattern {
  /* display: none; */
  position: fixed;
  top: 0px;
  width: 200%;
  height: 2px;
  background-image: url("images/yellow-pattern@2x.png");
  background-size: 90px;
}

.illustration-1 {
  width: 200px;
  mix-blend-mode: darken;
}