---
title: Repetition Press
layout: base.njk
description: Full-stack design and development service founded by Ben Cross
---

<section class="pl6-l pl4 pr4">

  <div class="pt6 pr4 mb3 center">
    <div class="pr3-l pl3-l mr2-l">
      <h1 class="small-caps tc">repetition press</h1>
      <p class="small-caps tc">design and development service founded by <a href="https://www.bencross.xyz/" class="link black hover-bg-light-blue small-caps">ben&nbsp;cross</a></p>
      <p class="pt2 tc"><a href="mailto:hi@repetitionpress.com" class="link black hover-bg-light-blue small-caps">hi@repetitionpress.com</a></p>
    </div>
  </div>

  <div class="illustration-1 pt1 center">
    <img src="/assets/images/RE-printersmark-2024.png" alt="">
  </div>


</section>

<div class="bottom-pattern"></div>
