---
title: Repetition Press
layout: base.njk
description: Design and development service founded by Ben Cross
---

<div class="center absolute top-0 left-0 right-0 bottom-0">
  <h1 class="small-caps tc">repetition press</h1>
  <p class="tc small-caps">design and development service founded by <a href="https://www.bencross.xyz/" class="link black hover-bg-light-blue small-caps">ben&nbsp;cross</a></p>
</div>


<section class="center vh-100 flex items-center justify-center">
  <div class="illustration-1 pt1 center">
    <img src="/assets/images/PM-dark-alt.png" alt="" class="center">
  </div>
</section>

{# <div>
  <p class="email-link"><a href="mailto:hi@repetitionpress.com" class="link black hover-bg-light-blue small-caps">hi@repetitionpress.com</a></p>
</div> #}

